$color1: rgba(01, 21, 41, 1) !default;
$color2: rgba(218, 37, 231, 1) !default;
$color3: rgba(92, 243, 255, 1) !default;
$color4: rgba(101, 14, 114, 1) !default;
$color5: rgba(21, 144, 162, 1) !default;
$color6: rgba(233, 233, 233, 1) !default;
$color7: rgba(0, 0, 0, 1) !default;
$color8: rgba(33,206,107, 1) !default;
$color9: rgb(250, 214, 52) !default;
$color10: rgba(250, 128, 114, 1) !default;
$color11: rgba(13, 3, 75, 1) !default;
$color12: rgba(22, 38, 46, 1) !default;
$color13: rgba(56, 68, 78, 0.445) !default;
$color14: rgba(173, 181, 184, 0.979) !default;
$color15: rgb(156, 5, 161) !default;